body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  font-family: "DM Mono", monospace;
  background-color: black;
}

/* .container {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: absolute;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-content: center;
} */

.board-container {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  width: 56%;
  height: auto;
  max-width: 660px;
  max-height: 660px;
  aspect-ratio: 1/1;
  background-color: hsl(0, 0%, 50%);
  border: solid 25px hsl(0, 0%, 35%);
  box-shadow: 5px 10px 30px -10px #151515;
  border-radius: 50%;
}

.light-buttons {
  display: grid;
  height: 100%;
  width: 100%;
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
  gap: 13px;
}

#green,
#red,
#yellow,
#blue {
  border: solid 3px rgb(88, 88, 88);
  height: 100%;
  width: 100%;
  cursor: pointer;
}

#green,
#yellow {
  grid-column: 1;
}

#red,
#blue {
  grid-column: 2;
}

.active {
  background: radial-gradient(var(--active-color), var(--inactive-color));
}

#green {
  grid-row: 1;
  --active-color: hsl(100deg, 90%, 75%);
  --inactive-color: hsl(100deg, 70%, 40%);
  background-color: hsl(100, 70%, 40%);
  border-radius: 100% 5% 0% 5%;
}
#yellow {
  grid-row: 2 / 3;
  --active-color: hsl(50deg, 90%, 75%);
  --inactive-color: hsl(50deg, 70%, 40%);
  background-color: hsl(50, 70%, 40%);
  border-radius: 5% 0% 5% 100%;
}
#red {
  grid-row: 1;
  --active-color: hsl(0deg, 90%, 75%);
  --inactive-color: hsl(0deg, 70%, 40%);
  background-color: hsl(0, 70%, 40%);
  border-radius: 5% 100% 5% 0%;
}
#blue {
  grid-row: 2 / 3;
  --active-color: hsl(230deg, 90%, 75%);
  --inactive-color: hsl(230deg, 70%, 40%);
  background-color: hsl(230, 70%, 40%);
  border-radius: 0% 5% 100% 5%;
}

.title {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-content: center;
  margin: 0;
  margin-top: 12%;
  font-size: 5vw;
  color: rgb(224, 224, 224);
  font-family: "DM Mono", monospace;
}

#display {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-content: center;
  margin-top:44%;
  background-color: hsl(0, 0%, 30%);
  height: 18%;
  width: 70%;
  /* padding: 7px 5px; */
  align-items: center;
  justify-content: center;
  text-align: center;
  /* font-size: 2rem; */
  color: hsl(0, 100%, 41%);
  font-family: "DM Mono", monospace;
}

#counter {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-content: center;
  font-size: 3.8vw;
  margin-top: 18%;
}

#message {
  font-size: 2.5vw;
  width: 100%;
  min-width: 160px;
}

.start {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 20%;
  align-items: center;
  font-size: 3vw;
  text-align: center;
  justify-content: center;
  cursor: pointer;
  outline: none;
  color: #8f8f8f;
  background-color: #2d2d2d;
  border: none;
  border-radius: 0% 0% 50% 50%;
  box-shadow: 0 3px #999;
  margin-top: 72%;
}

.start:hover {
  background-color: #3e8e41;
}

.start:active {
  background-color: #3e8e41;
  box-shadow: 0 6px #666;
  transform: translateY(4px);
}

.center-console {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 25%;
  left: 25%;
  height: 50%;
  width: 50%;
  background-color: hsl(0, 0%, 50%);
  border-radius: 50%;
  border: solid 3px rgb(88, 88, 88);
  align-items: center;
}
