* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  background-color: black;
  color: azure;
  padding: 50px;
  display: flex;
  justify-content: center;
  align-content: center;
}

.board-container {
  position: absolute;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  width: 70vw;
  height: 50vh;
  max-width: 450px;
  max height: 200px;
  min-width: 300px;
  background-color: hsl(0, 0%, 40%);
  border: solid 25px hsl(0, 0%, 35%);
    box-shadow: 1px 20px 500px -30px #999;
  border-radius: 50%;
  margin-top: 60px;
}

.light-buttons {
  display: grid;
  height: 100%;
  width: 100%;
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
  gap: 13px;
}

#green, #red,
#yellow,
#blue {
  border: solid 3px rgb(88, 88, 88);
  height: 100%;
  width: 100%;
  cursor: pointer;
}

#green, #yellow {
  grid-column: 1;
}

#red,
#blue {
  grid-column: 2;
}

.active {
  background: radial-gradient(var(--active-color), var(--inactive-color));
}


#green {
  grid-row: 1;
  --active-color: hsl(100deg, 90%, 75%);
  --inactive-color: hsl(100deg, 70%, 40%);
  background-color: hsl(100, 70%, 40%);
  border-radius: 100% 5% 0% 5%;
}
#yellow {
  grid-row: 2 / 3;
  --active-color: hsl(50deg, 90%, 75%);
  --inactive-color: hsl(50deg, 70%, 40%);
  background-color: hsl(50, 70%, 40%);
  border-radius: 5% 0% 5% 100%;
}
#red {
  grid-row: 1;
  --active-color: hsl(0deg, 90%, 75%);
  --inactive-color: hsl(0deg, 70%, 40%);
  background-color: hsl(0, 70%, 40%);
  border-radius: 5% 100% 5% 0%;
}
#blue {
  grid-row: 2 / 3;
    --active-color: hsl(230deg, 90%, 75%);
  --inactive-color: hsl(230deg, 70%, 40%);
  background-color: hsl(230, 70%, 40%);
  border-radius: 0% 5% 100% 5%;
}

.center-console {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 25%;
  left: 25%;
  height: 50%;
  width: 50%;
  background-color: rgb(110, 110, 110);
  border-radius: 50%;
  border: solid 3px rgb(88, 88, 88);
  align-items: center;
}

h3 {
    margin-top: .75em;
    line-height: 75%;
}

#display {
    position: relative;
    display: flex;
    margin-top: .80em;
    background-color: #3e3e3e;
    height: 2em;
    padding: 7px 15px;
    align-items: center;
    text-align: center;
    align-items: center;
    text-align: center;
}

h2{
    position: relative;
    display: flex;
    color: red;
}

.start {
  display: flex;
  padding: 12px 25px;
  font-size: 22px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #8f8f8f;
  background-color: #2d2d2d;
  border: none;
  border-radius: 0% 0% 50% 50%;
  box-shadow: 0 3px #999;
  margin-top: 0.65em;
}

.start:hover {
  background-color: #3e8e41;
}

.start:active {
  background-color: #3e8e41;
  box-shadow: 0 6px #666;
  transform: translateY(4px);
}